<div class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow">

    <div class="container navagation">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>


        </button>

        <a routerLink="/painel" class="navbar-brand d-flex align-items-center display-mobile">
            <strong>PokeGo</strong>
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <p class="navbar-brand d-flex align-items-center">
                <span>Bem-vindo, <strong>{{usuario.nome}}</strong></span>
            </p>
            <div id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/usuario-info/editar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            Minhas informações
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="minha-colecao">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-layers">
                                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                <polyline points="2 17 12 22 22 17"></polyline>
                                <polyline points="2 12 12 17 22 12"></polyline>
                            </svg>
                            Minha coleção
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="pesquisa-api">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-search">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                            Pesquisar na API
                        </a>
                    </li>
                </ul>
            </div>
            <a routerLink="/painel" class="navbar-brand d-flex align-items-center display-web">
                <strong>PokeGo</strong>
            </a>
        </div>
    </div>
</div>